body{
  font-family: 'Montserrat', sans-serif !important;
}

.container-fluid{
  width: 80% !important;
}

a {
  text-decoration: none !important;
}

p {
    text-align: center;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
  font-family: 'Tilt Neon', cursive;
}

nav {
    padding: 2rem 0px;
}

nav #logo_top{
  margin: 0px 0px;
  width: 12rem;
}


nav p {
  font-family: 'Tilt Neon', cursive;
  font-weight: 600;
  font-size: 20px;
}

i{
  margin-right: 0.75rem;
  margin-left: 0.25rem;
}

.navbar-custom{
  background: rgb(230,240,255);
  background: linear-gradient(90deg, rgba(230,240,255,1) 0%, rgba(255,239,250,1) 100%);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
}

.btn-nav{
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  color: white;
  background: rgb(26,127,190);
  background: linear-gradient(90deg, rgba(26,127,190,0.75) 0%, rgba(194,127,177,0.75) 100%);
  margin-left: 1rem;
  padding: 12px 12px;
  border: none;
  border-radius: 8px;

  transition: .2s ease-in-out 0s;
}

.btn-nav:hover{
  cursor: pointer;
  background: linear-gradient(90deg, rgba(26,127,190,1) 0%, rgba(194,127,177,1) 100%);
  transform: scale(1.05);
}

.btn-custom{
  font-size: 18px;
  background: rgb(91,127,185);
background: linear-gradient(145deg, rgba(91,127,185,1) 0%, rgba(119,156,214,1) 100%);
  
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
  transition: .2s ease-in-out 0s;
}

.btn-custom:hover{
  cursor: pointer;
  background: rgb(194,127,177);
  background: linear-gradient(145deg, rgba(194,127,177,1) 0%, rgba(224,145,204,1) 100%);
  transform: scale(1.05);
}

#linkSection i{
  margin: 0px 0.5rem;
}

#linkSection a{
  font-family: 'Tilt Neon', cursive;
  font-size: 1.25rem;
  color: white;
}

#newsSection #depoimentos img{
  border-radius: 8px;
}

#newsSection #news #depoimentos{
  display: flex;
  justify-content: space-evenly;
}

#newsSection #depoimentos h5,
#newsSection #depoimentos h6{
  font-family: 'Montserrat', sans-serif;
}

#newsSection #depoimentos a{
  color: black;
}

#sobreCurso{
  text-align: justify;
}

.breadcrumb a {
  font-family: 'Tilt Neon', cursive;
  text-decoration: none;
  color: #242323;
}

.breadcrumb-item::before {
  color: #242323 !important;
}

#footer1 {
  margin: 0px 0px;
  width: 100% !important;
  color: white;
  background: rgb(26,127,190);
  background: linear-gradient(90deg, rgba(26,127,190,1) 0%, rgba(91,127,185,1) 53%, rgba(194,127,177,1) 100%);
}